@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

* {
  -webkit-font-smoothing: antialiased !important; 
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  font-family: "Ubuntu";
}

.active {
  text-decoration: default;
}

.inactive {
  text-decoration: none; 
} 